<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552561270697-hsq9rj66ifvv7thb69h3d0d697a8v8um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552561270697-hsq9rj66ifvv7thb69h3d0d697a8v8um</string>
	<key>API_KEY</key>
	<string>AIzaSyAQQ8BlIlrLcveu91ZgWpf_DYMLlPO07Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>552561270697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barisyesilkayaa.QuickChat</string>
	<key>PROJECT_ID</key>
	<string>quick-chat-f151e</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-chat-f151e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552561270697:ios:b1b8ac1be36819592b2eb8</string>
</dict>
</plist>